/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

hr {
    border-color: black;
}

#main-title {
    margin-bottom: 10px;
}

#timer {
    /*height: 10vh;*/
}

#footer {
    /*position: fixed;
    bottom: 0;
    left: 0;*/
    /*height: 75px;*/
    width: 100%;
    text-align: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.content-wrapper {
    float: none;
    margin: 0 auto;
    width: 600px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#title {
    /*margin-bottom: 40px;*/
}

html, body {
    min-height: 100vh !important;
}

.alert {
    margin-top: 5px;
}

.asp-error, .custom-error {
    color: red !important;
    font-size: 0.75em;
}

.top-row {
    /*position: relative;*/
    overflow: hidden;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
}

#next-words {
    padding-top: 3px;
    overflow: hidden;
    max-height: 4.5em;
    height: 4.5em;
}

.next-word {
    min-height: 1.5em;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.bottom-buffer {
    margin-bottom: 5px;
}

.top-buffer {
    margin-top: 25px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
}

.icon {
    padding: 5px;
    /*min-width: 50px;*/
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}